@import "../../styles/global-styles.scss";

.detailPage {
  position: fixed;
  transform-origin: center;
  overflow-y: scroll;
  background-color: $white;
  opacity: 0;
  scroll-behavior: smooth;

  &.disable-scroll {
    overflow: hidden; /* Prevent scrolling */
  }

  &.active {
    width: 100dvw;
    height: 100dvh;
    opacity: 1;
    transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      height 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      top 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      left 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      filter 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &Protection {
    background: #010101;
    background: radial-gradient(at left bottom, #010101, #01010100);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s,
      width 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s,
      height 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s,
      mask-image 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    mask-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0) 70%
    );

    .active & {
      opacity: 1;
    }
  }

  &Hero {
    position: absolute;
    color: $white;
    bottom: 10vh;
    left: 4vw;
    width: 40dvw;
    max-width: 600px;
    z-index: 2;

    &__title {
      font-size: 4em;
      font-weight: 600;
      letter-spacing: 0.2rem;
      transform: translate3d(0, 0.625rem, 0);
      opacity: 0;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      position: relative;

      &::after {
        height: 1px;
        width: 0;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        background: $white;
        opacity: 0.8;
        transition: width 0.6s ease-in-out 0.8s;
      }

      .active & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s ease-in-out 0.5s,
          opacity 0.6s ease-in-out 0.5s;

        &::after {
          width: 50%;
        }
      }
    }

    &__description {
      font-size: 1rem;
      line-height: 160%;
      transform: translate3d(0, 0.625rem, 0);
      opacity: 0;

      .active & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s ease-in-out 0.8s,
          opacity 0.6s ease-in-out 0.8s;
      }
    }

    // button {
    //     transform: translate3d(0, 0.625rem, 0);
    //     opacity: 0;
    //     margin-top: 0.875rem;

    //     .active & {
    //         opacity: 1;
    //         transform: translate3d(0, 0, 0);
    //         transition: transform .6s ease-in-out 1s, opacity .6s ease-in-out 1s;
    //     }
    // }
  }

  &HeroImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;

    img {
    }
  }
}

$duration: 1s;
$increment: 0.03s;

@for $i from 1 to 100 {
  .hero__meta__tag__item:nth-child(#{$i}) {
    transition-delay: $duration + ($i * $increment);
  }
}
