@import "../../organisms/SideBySide/SideBySide.module.scss";

.section {
  padding-left: 4.375rem;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &Copy {
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;

    &Wrapper {
      position: relative;
      padding: 1.25rem;
      max-width: 500px;
    }
  }

  &:nth-child(even) {
    background: #fafafa;

    .videoWrapper,
    img {
      order: 2;
    }
  }

  &:nth-child(odd) {
    background: #ffffff;
  }
}
