.videoWrapper {
  width: 100%;

  .right & {
    order: 2;
  }

  &.hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;

    video {
      object-fit: cover;
    }
  }

  &.sectionVideo {
    width: 60%;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 0 1.875rem 0.625rem rgba(0, 0, 0, 0.08);
  }
}
